# Compiled Object files
*.o
*.lo
*.la
*.lai
*.so
*.dll
*.pyc

# Compiled Static libraries
*.a
*.lib
*.lbc

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#ignore the folder where compiled files are stored
/build
